* {
  font-family: "Poppins", sans-serif;
}

.outer-wrapper {
  display: flex;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  text-align: center;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
}
